<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.birsan.budgetone" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectCategoriesActivity"
            android:label="@string/title_activity_select_categories"
            android:parentActivityName=".Dashboard" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.birsan.budgetone.Dashboard" />
        </activity>
        <activity
            android:name=".CopyLastMonthBudgetActivity"
            android:label="@string/title_activity_copy_last_month_budget" >
        </activity>
        <activity
            android:name=".AddIncomeActivity"
            android:label="@string/title_activity_add_income"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.birsan.budgetone.Dashboard" />
        </activity>
        <activity
            android:name=".BudgetConfigurationActivity"
            android:label="@string/title_activity_budget_configuration"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.birsan.budgetone.Dashboard" />
        </activity>
        <activity
            android:name=".AddTargetActivity"
            android:label="@string/title_activity_add_target"
            android:parentActivityName=".Dashboard" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.birsan.budgetone.Dashboard" />>
        </activity>
    </application>

</manifest>
